
.normal {
  display: flex;
  align-items: center;
}

.brand {
  width: 220px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  color: #fff;
  align-content: center;
  background: #56a07b;
  font-size: 20px;
}

.search {
  position: relative;
  width: 376px;
  input {
    margin-left: 12px;
    padding: 0 12px 0 34px;
    width: 270px;
    height: 24px;
    font-size: 13px;
    border-radius: 15px;
    border: 2px solid rgba(101,131,153,0);
    color: #658399;
    background: rgba(55,53,112,0.08);
    outline: none;
    box-shadow: none;
    transition: all 200ms linear;

    &:focus {
      border: 2px solid #658399;
      background: #fff;

      &+i {
        color: #658399;
      }
    }
  }
  i {
    position: absolute;
    top: 6px;
    left: 24px;
    color: rgba(98,108,112,0.5);
  }
}

.loading {
  flex: 1;
}
